.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #615bdb;
  flex-direction: column;
  box-sizing: border-box;
}

.headerContent {
  width: 80%;
  height: 350px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  margin: 0 auto;
  @media (min-width: 768px) {
    width: 500px;
  }
}
.uploadContainer {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.uploadLabel {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  border: 2px dashed #bbb5ff;
  background-color: #f7f8ff;
}

.uploadContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.uploadButton {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
